*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #fff;
}

.banner{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("armchair-green-living-room-with-copy-space.jpg");
    background-size: cover;
    background-position: center;
}   

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

.logo{
    font-size: 30px;
    font-weight: 700;
    font-family:'Times New Roman', Times, serifs
}

.navbar ul li{
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    position: absolute;
    background: #009688;
    left: 0;
    bottom:-10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    
}


.content h1{
    font-size: 50px;
    margin-top: 40px;
}
.content h2{
    font-size: 40px;
}
.content p{
    font-weight: 100;
    line-height: 25px;
    margin: 20px auto;
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
}
span{
    background: #009688;
    height: 100%;
    width: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;
}

button:hover{
    border: none;
}
.footer {
    background: linear-gradient(105deg, #747474, rgb(54, 54, 54));
    padding-top: 80px;
    padding-bottom: 40px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.col {
    max-width: 320px;
    padding: 1rem 10px;
}

.single_footer h4 {
    color: #fff;
    margin-top: 0;
    margin-bottom: 25px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
}

.single_footer h4::after {
    content: "";
    display: block;
    height: 2px;
    width: 40px;
    background: #fff;
    margin-top: 20px;
}

.single_footer p {
    color: #fff;
}

.single_footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.single_footer ul li,
.single_footer ul li a {
    color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    line-height: 36px;
    font-size: 15px;
    text-transform: capitalize;
}

.single_footer ul li a:hover {
    color: #ff2b2b;
}

.single_footer_address .single_footer_address ul .single_footer_address ul li {
    color: #fff;
}

.single_footer_address ul li span {
    font-weight: 400;
    color: #fff;
    line-height: 28px;
}

.contact_social ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.subscribe {
    display: block;
    position: relative;
    margin-top: 15px;
    width: 100%;
}

.subscribe__input {
    background-color: #fff;
    border: medium none;
    border-radius: 5px;
    color: #333;
    display: block;
    font-size: 15px;
    font-weight: 500;
    height: 60px;
    letter-spacing: 0.4px;
    margin: 0;
    padding: 0 150px 0 20px;
    text-align: center;
    text-transform: capitalize;
    width: 100%;
}

.subscribe__btn {
    background-color: transparent;
    border-radius: 0 25px 25px 0;
    color: #01c7e9;
    cursor: pointer;
    display: block;
    font-size: 20px;
    height: 60px;
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
}

.subscribe__btn i {
    transition: all 0.3s ease 0s;
}

.subscribe__btn:hover i {
    color: #ff3666;
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.social_profile {
    margin-top: 40px;
}

.social_profile ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.social_profile ul li {
    float: left;
}

.social_profile ul li a {
    text-align: center;
    border: 0px;
    background: #00d9ff7c;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    margin: 0px 5px;
    font-size: 18px;
    color: #fff;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: block;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.social_profile ul li a:hover {
    background: #ff3636;
    border: 1px solid #ff3636;
    color: #fff;
    border: 0px;
}

.copyright {
    margin-top: 70px;
    padding-top: 40px;
    color: #fff;
    font-size: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    text-align: center;
}

.copyright a {
    color: #00d9ff;
    transition: all 0.2s ease 0s;
}

.h3{
    color: rgb(72, 70, 74);
}

.copyright a:hover {
    color: #ff3636;
}

.gallery-container {
    width: 100%;
    background: #999795dd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}
   

.gallery {
    width: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
    gap: 0.5rem;
}

.gallery h1 {
    font-size: 2rem;
    font-weight: 400;}

.gallery-grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(5,1fr);
    padding: 1rem 0;
}

.gallery-item {
    width: 100%;
    height: 200px;
    border-radius: 20px;
    overflow: hidden;
}

.gallery-item img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
}

.gallery-item img:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}

